:root {
  --font-size: 14px;
  --letter-spacing: 0.03em;
  --font-family: Roboto, Tahoma, Verdana, sans-serif;
  --text-color: #757575;
  --title-color: #212121;
  --hero-title-color: var(--white-color);
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-grey-color: #2f303a;
  --light-grey-color: #f5f4fa;
  --background-color: var(--white-color);
  --background-sec-color: var(--dark-grey-color);
  --btn-prim-color: var(--white-color);
  --btn-prim-hover-background: var(--white-color);
  --btn-sec-background: var(--light-grey-color);
  --btn-sec-hover-color: var(--white-color);
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-link-hover-color: var(--white-color);
  --logo-suffix-dark: var(--black-color);
  --logo-suffix-light: var(--white-color);
}

/******************************** 
  Global 
*/

.page {
  font-family: var(--font-family);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  background: var(--background-color);
}

.unstyled-list {
  list-style: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/********************************
  Logo 
*/

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.logo-prefix {
  color: var(--accent-color);
}

.logo-suffix {
  color: var(--logo-suffix-dark);
}

.footer .logo-suffix {
  color: var(--logo-suffix-light);
}

/********************************
  Link 
*/

.link {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus-visible {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.footer .link {
  font-weight: 400;
  line-height: 24px;
  color: var(--footer-link-color);
  font-style: normal;
}

.footer .link:hover,
.footer .link:focus-visible {
  color: var(--footer-link-hover-color);
}

/********************************
  Button 
*/

.button {
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

.button.primary {
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--btn-prim-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover,
.button.primary:focus-visible {
  color: var(--accent-color);
  background: var(--btn-prim-hover-background);
}

.button.secondary {
  font-weight: 500;
  line-height: 26px;
  color: var(--title-color);
  background: var(--btn-sec-background);
}

.button.secondary:hover,
.button.secondary:focus-visible {
  color: var(--btn-sec-hover-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/********************************
  Section
*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--title-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  text-align: center;
}

.hero,
.footer {
  background: var(--background-sec-color);
}

.advantages .subtitle {
  font-weight: 700;
  line-height: 16px;
  color: var(--title-color);
  text-transform: uppercase;
}

.advantages .text {
  line-height: 24px;
}

.team .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--title-color);
  text-align: center;
}

.team .text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.works .subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.works .text {
  font-size: 16px;
  line-height: 30px;
}
